body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.containerHeader {
  background: #2F6158;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex; /* Adiciona um display flex para alinhar os itens */
  align-items: center; /* Centraliza verticalmente os itens */
  justify-content: space-between; /* Coloca espaço entre os itens */
  padding: 10px 20px; /* Adiciona um espaço ao redor do conteúdo */

  @media (max-width: 847px) {
      flex-direction: column;
      align-items: center;
    }
}

#logo {
  width: 180px;
  height: auto;

  @media (max-width: 847px) {
    width: 120px;
    height: auto;
    }
  }

#slogan {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(to bottom, #ffffff, #ffffffc9, #f1f1f100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-grow: 1; /* Faz o slogan expandir para ocupar o espaço disponível */
  text-align: center;

  @media (max-width: 847px) {
    left: 0;
    font-size: 12px;
  }
}



#containerCalendly {
  display: flex;
  align-items: center;

  @media (max-width: 847px) {
    flex-direction: column;
    align-items: center;
    
  }
}

#iconCalendly{
  position: relative;
  left: 70px;
  top: 40px;

  @media (max-width: 847px) {
    width: 80px;
    left: 20px;
  } 
}

#calendlyH1 {
  position: relative;
  flex: 1;
  left: 90px;
  top: 10px;
  font-size: 14px;

  @media (max-width: 847px) {
    font-size: 10px;
    left: 10px;
    top: 23px;
  }
}

#calendlyH2 {
  position: relative;
  top: -35px;
  left: 200px;

  @media (max-width: 847px) {
  font-size: 14px;
  top: -30px;
  left: 175px;
  }
}
    
.item  {
  color: white;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  background: #2B6A5F;
  text-align: center;
  line-height: 200px;
}
  
.owl-carousel{
  margin: 50px;

}

.imgcarousel {
  max-width: 90%;
  padding-top: 34px;
  padding-left: 18px;  
}
  
.h1carousel {
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
  }
  
.h2carousel {
  position: relative;
  top: -15px;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
  line-height: normal;
}
  
.buttoncarousel{
  position: relative;
  border: none;
  text-decoration: none;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;

  top: -90px;
  width: 200px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttoncarousel:hover{
  position: relative;
  border: none;
  top: -90px;
  width: 210px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;

  color: #023f00;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#arraste {
  position: relative;
  top: -60px;
  left: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

#line {
  position: relative;
  width: 1337.024px;
  height: 1px;
  margin: 0 auto;
  top: 45px;  

  background: rgba(23, 45, 41, 0.80);
}

#procedimentosH1 {
  font-size: 14px;
  position: relative;
  width: 30%;
  margin: 0 auto;
  top: 40px;
  padding-bottom: 100px;
  padding-top: 50px;
  left: 45px;
}

#procedimento {
  position: relative;
  left: 658px;
  top: 20px;
  font-weight: 100;
  font-size: 24px;
}

#procedimentoimg{
  position: relative;
  top: 40px;
}

#infos {
  position: relative;
  margin: 10px;
  font-size: 16px;
  display: flex;
}

#texts {
  position: relative;
  top: -20px;
  margin: 50px;
}

#containerProcedimentos img{
  width: 350px;
  height: auto;
}

#containerPatrocinios {
  width: 800px;
  height: 500px;

  background: #2F6158;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 100px;
  border-radius: 20px;

  position: relative;
  left: 300px;
}

#nossosparceiros {
  position: relative;
  color: #FFF;
  font-size: 23px;
  margin: 10px;
  display: flex;
  justify-content: center;

}

#patrocinador h2 {
  position: relative;
  color: #FFF;
  font-size: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

#imagem {
  width: 70%;
  height: auto;  
}

#parceria {
  position: relative;
  display: flex;
  justify-content: center;
}

#containerFooter {
  background: #2F6158;
  box-shadow: 0px 4px 4px #00000040; 
  clip-path: inset(55% 0 0 0);
}

#brasil {
  position: relative;
  top: 275px;
  left: 50px;

  width: 210px;
  height: auto;
}

#crefito {
  position: relative;
  top: 255px;
  left: 50px;

  width: 220px;
  height: 60px;

  border-radius: 30px;
  background: #418579;
}

.crefitotext {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;

  position: relative;
  top: 15px;
  left: 25px;
}

#Logos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 100px;
}

#logofooter {
  position: relative;
  top: 60px;
  width: 150px;
  height: auto;
}

#sloganfooter {
  position: relative;
  top: 45px;
  font-size: 20px;
  background: linear-gradient(to bottom, #ffffff,#ffffffc9, #f1f1f100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
}

#redessociais {
  display: flex;
  justify-content: end;
  margin: 30px;
 
}

#rede {
  position: relative;
  width: 60px; 
  margin: 5px;
  height: auto;
  top: px;
}

#whats {
  text-decoration: underline;
  color: white;

  position: relative;
  right: 80px;
  top: 20px;
}

#insta {
  text-decoration: underline;
  color: white;

  position: relative;
  right: 80px;
  top: 20px;
}

#lines {
  width: 100%;
  height: 1px;
 
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.63);
}

#copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;


  color: rgba(255, 255, 255, 0.80);
  font-family: Poppins;
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#linefooter {
  width: 2px;
  height: 50px;
  background-color: black;
  margin: 0 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

#cidade:hover{
  font-size: 6.1px;
}